
           <!--  <button ng-click="createNewGroup()">add</button>
            <button ng-click="createNewTeam()">new</button> -->

<div class="continer">
                <div  class="team" ng-repeat="group in groups">
        <div class="title" ng-bind="group.trip_info.title"></div>
        <div class="pagepicture">
        <div ng-repeat="sponsor in group.trip_info.title.sponsors" style="x in listNum"></div>
        

        <img src="images/prince.png">    
        </div>
        <div class="tripcontent">
            <div class="purpose" ng-bind="group.trip_info.trip_target | tripTargetFilter"></div>
            <div class="date"><span ng-bind="group.trip_info.start_time * 1000 | date: 'yyyy.MM.dd'"></span> - <span ng-bind="group.trip_info.end_time * 1000 | date: 'yyyy.MM.dd' "></span></div>
            <div class="show">
            <div class="icon1" ng-if="group.status=='prehead'">
            <img src="images/群人数.png">
            <p><span ng-bind="group.group_users_count"></span> /<span ng-bind="group.public_users"></p>
               
            </div>
            <div class="icon2" ng-if="group.status=='prehead'">
            <img src="images/小队.png">
            <p><span ng-bind="group.group_users_count"></span> /<span ng-bind="group.trip_info.private_users"></p>
            </div>
            <div class="icon3"  ng-if="group.status=='prehead'">
            <img src="images/出行.png">
            <p>待出行</p>
            </div> 
            <div class="icon4" ng-if="group.status!='prehead'">
                <img src="images/群人数.png">
                <p><span ng-bind="group.group_users_count"></span> /<span ng-bind="group.public_users"></p>
                
            </div>  
            </div>
        </div>
        <div class="shadow">
    
            <div class="content">详情</div>
            <div class="edit">编辑</div>
        </div>

    </div>
    </div>
    <button>007</button>