<div ng-controller="MainCtrl" id="content-container">
    <header class="header" id="home">
        <div class="color-overlay">
            <div class="container">
                <div class="row home-contents">
                    <div class="col-md-6 col-sm-6">
                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">
                            <div class="custome-section">
                                <!-- WELCOM MESSAGE -->
                                <h1 style="font-size: 60px;" class="intro custome-index"><span>圆周 &nbsp; &nbsp;</span><img src="./images/logo.png"><br>年轻人的旅行派对</h1>
                                <h5>PAI（圆周派）是一款联系喜欢旅行、在旅途中追求新鲜玩法的年轻人群的应用，它可以帮助你寻找到各种新奇、有趣的出游活动，以及兴趣相投的旅伴。在这款应用上，你既能发起、也能选择加入各类个性化的主题游中，可以通过群组聊天室进行即时交流，并轻松实现行程路线的在线预订，还有机会获得种类丰富的赞助商品。</h5>
                                <div class="buttons" id="download-button">
                                    <a href="#download" class="btn btn-default btn-lg standard-button"><i class="icon-app-download"></i>下载圆周派APP</a>
                                </div>
                                <!-- /END BUTTONS -->
                            </div>
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <!-- PHONE IMAGE WILL BE HIDDEN IN TABLET PORTRAIT AND MOBILE-->
                        <div class="phone-image">
                            <img src="./images/2-iphone-right.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /END COLOR OVERLAY -->
    </header>
    <!-- /END HEADER -->
    <!-- =========================
     FEATURES
    ============================== -->
    <section class="features" id="features">
        <div class="container">
            <!-- SECTION HEADER -->
            <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                <!-- SECTION TITLE -->
                <h2 class="dark-text">奇趣玩法</h2>
                <div class="colored-line">
                </div>
                <div class="section-description">
                    你既能发起、也能选择加入各类个性化的主题游
                </div>
                <div class="colored-line">
                </div>
            </div>
            <!-- /END SECTION HEADER -->
            <div class="row">
                <!-- FEATURES LEFT -->
                <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <!-- FEATURE -->
                    <div class="feature">
                        <!-- ICON -->
                        <div class="icon-container">
                            <div class="icon">
                                <i class="icon_map_alt"></i>
                            </div>
                        </div>
                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <div class="fetaure-details">
                            <h4 class="main-color">发起pai队</h4>
                            <p>
                                选择目的地、旅行日期、封面以及可以自主编辑的行程，开启一段奇妙旅程
                            </p>
                        </div>
                    </div>
                    <!-- /END SINGLE FEATURE -->
                    <!-- FEATURE -->
                    <div class="feature">
                        <!-- ICON -->
                        <div class="icon-container">
                            <div class="icon">
                                <i class="icon_gift_alt"></i>
                            </div>
                        </div>
                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <div class="fetaure-details">
                            <h4 class="main-color">神秘礼品</h4>
                            <p>
                                每次购买完一段行程后，都有机会获得限量神秘礼品
                            </p>
                        </div>
                    </div>
                    <!-- /END SINGLE FEATURE -->
                    <!-- FEATURE -->
                    <div class="feature">
                        <!-- ICON -->
                        <div class="icon-container">
                            <div class="icon">
                                <i class="icon_tablet"></i>
                            </div>
                        </div>
                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <div class="fetaure-details">
                            <h4 class="main-color">支持平台</h4>
                            <p>
                                ios7及ios7以上</br>Android2.3及Android2.3以上
                            </p>
                        </div>
                    </div>
                    <!-- /END SINGLE FEATURE -->
                </div>
                <!-- /END FEATURES LEFT -->
                <!-- PHONE IMAGE -->
                <div class="col-md-4 col-sm-4">
                    <div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <img src="./plugins/images/single-iphone.png" alt="">
                    </div>
                </div>
                <!-- FEATURES RIGHT -->
                <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <!-- FEATURE -->
                    <div class="feature">
                        <!-- ICON -->
                        <div class="icon-container">
                            <div class="icon">
                                <i class="icon_genius"></i>
                            </div>
                        </div>
                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <div class="fetaure-details">
                            <h4 class="main-color">精选主题游</h4>
                            <p>
                                我们会有品牌、明星、达人精心策划的主题游等你来参加
                            </p>
                        </div>
                    </div>
                    <!-- /END SINGLE FEATURE -->
                    <!-- FEATURE -->
                    <div class="feature">
                        <!-- ICON -->
                        <div class="icon-container">
                            <div class="icon">
                                <i class="icon_lightbulb_alt"></i>
                            </div>
                        </div>
                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <div class="fetaure-details">
                            <h4 class="main-color">行程保障</h4>
                            <p>
                                每一位发起人都会经过我们的实名认证，保障大家的出行安全
                            </p>
                        </div>
                    </div>
                    <!-- /END SINGLE FEATURE -->
                    <!-- FEATURE -->
                    <div class="feature">
                        <!-- ICON -->
                        <div class="icon-container">
                            <div class="icon">
                                <i class="icon_ribbon_alt"></i>
                            </div>
                        </div>
                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <div class="fetaure-details">
                            <h4 class="main-color">多种产品模式</h4>
                            <p>
                                你能选择"自主定制"或"私人定制"来定制不同的旅行套餐
                            </p>
                        </div>
                    </div>
                    <!-- /END SINGLE FEATURE -->
                </div>
                <!-- /END FEATURES RIGHT -->
            </div>
            <!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
    <!-- /END FEATURES SECTION -->
    <!-- =========================
     BRIEF LEFT SECTION
    ============================== -->
    <section class="app-brief grey-bg" id="brief1">
        <div class="container">
            <div class="row">
                <!-- PHONES IMAGE -->
                <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <div class="phone-image">
                        <img src="./plugins/images/2-iphone-left.png" alt="">
                    </div>
                </div>
                <!-- RIGHT SIDE WITH BRIEF -->
                <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <!-- SECTION TITLE -->
                    <h2 class="dark-text">撰写属于你的游记</h2>
                    <div class="colored-line-left">
                    </div>
                    <p>
                        你可以精心设计你的游记内容，表达你在旅行过程中遇到的各种奇妙的事情和旅途的乐趣，我们会以精美的排版来展现你的游记。在这里，你也可以看到其他所有用户的游记，与他们交流旅行心得，有机会遇到新的朋友从而开启下一段旅程
                    </p>
                    <!-- FEATURE LIST -->
                    <ul class="feature-list">
                        <li><i class="glyphicon glyphicon-camera"></i> 有趣的游记纪录方式</li>
                        <li><i class="glyphicon glyphicon-align-left"></i> 即时评论，分享旅行心得</li>
                        <li><i class="glyphicon glyphicon-link"></i> 一键分享到其他平台</li>
                        <li><i class="glyphicon glyphicon-heart"></i>为你喜爱的游记点赞</li>
                    </ul>
                </div>
                <!-- /END RIGHT BRIEF -->
            </div>
            <!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
    <!-- /END SECTION -->
    <!-- =========================
     BRIEF RIGHT SECTION
    ============================== -->
    <section class="app-brief" id="brief2">
        <div class="container">
            <div class="row">
                <!-- BRIEF -->
                <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <!-- SECTION TITLE -->
                    <h2 class="dark-text">自由的创建旅行pai队</h2>
                    <div class="colored-line-left">
                    </div>
                    <p>
                        可以选择多个目的地，旅途日期，再为你的pai队取一个炫酷的名字，上传一张充满b格的封面，然后你可以为你的pai队计划一个详细的行程安排。选择你所需的旅行产品模式，就可以开始你的旅行pai队了。对了，别忘了选择几个赞助商哦，你可以有机会获得他们送出的礼品哦。
                    </p>
                </div>
                <!-- /ENDBRIEF -->
                <!-- PHONES IMAGE -->
                <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <div class="phone-image">
                        <img src="./plugins/images/2-iphone-right2.png" alt="">
                    </div>
                </div>
                <!-- /END PHONES IMAGE -->
            </div>
            <!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
    <!-- /END SECTION -->
    <!-- =========================
     TESTIMONIALS
    ============================== -->
    <section class="testimonials" id="tripkol">
        <div class="color-overlay">
            <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
                <!-- FEEDBACKS -->
                <div id="feedbacks" class="owl-carousel owl-theme">
                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <!-- IMAGE -->
                        <div class="image">
                            <!-- i class=" icon_quotations"></i -->
                            <img src="./plugins/images/clients-pic/3.jpg" alt="">
                        </div>
                        <div class="message">
                            曾经，旅行于我而言，是为了和我的爱人一起去追寻更真实的自己。</br>如今，旅行于我而言，是一种生活方式。</br>我和她一起辞了工作、租掉房子,开启了一场300天的环中国之旅。</br>我用笔写下我们的故事。
                        </div>
                        <div class="white-line">
                        </div>
                        <!-- INFORMATION -->
                        <div class="name">
                            王阿琬、银星
                        </div>
                        <div class="company-info">
                            世界很小，只要你的心够大
                        </div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->
                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <!-- IMAGE -->
                        <div class="image">
                            <!-- i class=" icon_quotations"></i -->
                            <img src="./plugins/images/clients-pic/1.jpg" alt="">
                        </div>
                        <div class="message">
                            自由与梦想，</br>虽然看似遥不可及，但只要坚持，就不是空中楼阁，</br>我希望自己能够作为一种介质，将旅行梦想传递下去。</br>你未必要成为职业旅行者，但只要还有梦想，肯为此坚持努力，就一定会在自己的天空中看到彩虹。
                        </div>
                        <div class="white-line">
                        </div>
                        <!-- INFORMATION -->
                        <div class="name">
                            背包客小鹏
                        </div>
                        <div class="company-info">
                            我的职业是旅行
                        </div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->
                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <!-- IMAGE -->
                        <div class="image">
                            <!-- i class=" icon_quotations"></i -->
                            <img src="./plugins/images/clients-pic/2.jpg" alt="">
                        </div>
                        <div class="message">
                            我是小歪，朋友喜欢叫我歪老师</br>我和大多数年轻人一样，梦想是环游世界；</br>不过不一样的是，我想在世界各地当街头艺人</br>说到旅行，从来不做计划，也从来不报旅游团，只爱跟着感觉走。
                        </div>
                        <div class="white-line">
                        </div>
                        <!-- INFORMATION -->
                        <div class="name">
                            小歪老师
                        </div>
                        <div class="company-info">
                            想在世界各地当街头艺人
                        </div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->
                </div>
                <!-- /END FEEDBACKS -->
            </div>
            <!-- /END CONTAINER -->
        </div>
        <!-- /END COLOR OVERLAY -->
    </section>
    <!-- /END TESTIMONIALS SECTION -->
    <!-- =========================
     BRIEF LEFT SECTION WITH VIDEO
    ============================== -->
    <section class="app-brief grey-bg" id="yzpvideo">
        <div class="container">
            <div class="row">
                <!-- PHONES IMAGE -->
                <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <div class="video-container">
                        <div>
                            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="680" height="520">
                                <param name="movie" value="http://player.video.qiyi.com/42f54434568cc48bcc4830bb70aa6adc/0/136/w_19rtmyeeep.swf-albumId=4635700509-tvId=4635700509-isPurchase=0-cnId=16" />
                                <param name="quality" value="high" />
                                <param name="wmode" value="transparent" />
                                <param value="true" name="allowFullScreen" />
                                <embed src="http://player.video.qiyi.com/42f54434568cc48bcc4830bb70aa6adc/0/136/w_19rtmyeeep.swf-albumId=4635700509-tvId=4635700509-isPurchase=0-cnId=16">
                            </object>
                        </div>
                    </div>
                </div>
                <!-- RIGHT SIDE WITH BRIEF -->
                <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <!-- SECTION TITLE -->
                    <h2 class="dark-text">圆周派：去你的旅行</h2>
                    <div class="colored-line-left">
                    </div>
                    <p>
                        圆周派旅行派对微电影，去嗨，去不孤单。
                    </p>
                </div>
                <!-- /END RIGHT BRIEF -->
            </div>
            <!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
    <!-- /END SECTION -->
    <!-- =========================
     DOWNLOAD NOW
    ============================== -->
    <section class="download" id="download">
        <div class="color-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="download-container">
                            <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">App下载</h2>
                            <div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                                <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ipaitrip.pai
" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>iOS版下载</a>
                                <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ipaitrip.pai
" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>安卓版下载</a>
                            </div>
                        </div>
                        <!-- END OF DOWNLOAD BUTTONS AREA -->
                        <!-- SUBSCRIPTION FORM WITH TITLE -->
                        <div class="subscription-form-container">
                            <div class="col-md-12 col-sm-12">
                                <img src="./plugins/images/qrcode.png" style="width:300px; height=300px">
                            </div>
                            <div class="col-md-12 col-sm-12" style="padding-top:50px">
                                扫描二维码，下载圆周派App
                            </div>
                            <!-- =====================
                         LOCAL TXT FORM STARTS
                         ===================== -->
                            <!-- THIS FORM IS COMMENTED TO HIDE

                    <form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">

                        <h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
                        <h4 class="subscription-error">Something Wrong!</h4>

                        <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">

                        <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>

                    </form>

                    -->
                            <!-- / LOCAL TXT SAVING FORM END -->
                        </div>
                        <!-- END OF SUBSCRIPTION FORM WITH TITLE -->
                    </div>
                    <!-- END COLUMN -->
                </div>
                <!-- END ROW -->
            </div>
            <!-- /END CONTAINER -->
            <!-- /END COLOR OVERLAY -->
    </section>
    <!-- /END DOWNLOAD SECTION -->
    <!-- =========================
     FOOTER
    ============================== -->
    <footer>
        <div class="container">
            <div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">
            </div>
            <!-- /END CONTACT BOX -->
            <!-- LOGO -->
            <img src="./plugins/images/logo-black.png" alt="LOGO" class="responsive-img" width="auto" height="80px">
            <!-- SOCIAL ICONS -->
            <ul class="social-icons"></ul>
            <!-- COPYRIGHT TEXT -->
            <p class="copyright">
                ©2015 ipaitrip, All Rights Reserved
            </p>
        </div>
        <!-- /END CONTAINER -->
    </footer>
    </div>
    <!-- JQuery Components -->
    <script src="./plugins/js/smoothscroll.js"></script>
    <script src="./plugins/js/jquery.scrollTo.min.js"></script>
    <script src="./plugins/js/jquery.localScroll.min.js"></script>
    <script src="./plugins/js/owl.carousel.min.js"></script>
    <script src="./plugins/js/nivo-lightbox.min.js"></script>
    <script src="./plugins/js/simple-expand.min.js"></script>
    <script src="./plugins/js/wow.min.js"></script>
    <script src="./plugins/js/jquery.stellar.min.js"></script>
    <script src="./plugins/js/jquery.nav.js"></script>
    <script src="./plugins/js/matchMedia.js"></script>
    <script src="./plugins/js/jquery.ajaxchimp.min.js"></script>
    <script src="./plugins/js/jquery.fitvids.js"></script>
    <script src="./plugins/js/custom.js"></script>
    <!-- /END FOOTER -->
</div>
