<div step-bar="5"></div>
<div ng-controller="tripTravelCtrl">
    <div id="trip-travel" >
        <div class="travel_sidebar">
            <div ng-click="travelEdit.insertPictureToContent()" type="file" ngf-select="onFileSelect($files)" multiple>
                <div><img src="images/travel_picture.png"></div>
                <div>图片</div>
            </div>
            <div ng-click="travelEdit.insertTextToContent()">
                <div><img src="images/travel_word.png"></div>
                <div>文字</div>
            </div>
            <div ng-click="travelEdit.insertDateToContent()">
                <div><img src="images/travel_date.png"></div>
                <div>日期</div>
            </div>
            <div ng-click="travelEdit.insertPlaceToContent()">
                <div><img src="images/travel_place.png"></div>
                <div>地点</div>
            </div>
        </div>
        <div>
            <div class="trip_title">行程安排</div>
            <div class="underline"></div>
        </div>
        <div style="background-color: #F7F8FA;" id="travel_content">
        </div>
        <div class="trip-operate">
            <button class="btn btn-primary c_button" ng-click="preSponsorEdit()">上一步</button>
            <button class="btn btn-primary c_button" ng-click="nextProductEdit()">下一步</button>
        </div>
    </div>
</div>
<script src="./plugins/js/jquery.datetimepicker.full.min.js"></script>
